html, body{
    background: #FDFDFF;
    height: 100%;
    padding: 50px 50px
}

#welcome-section{
    border-radius: 25px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 30%;
}

.welcome-text{
    width: 100%;
    text-align: center;
    position: relative;
}

.welcome-text h1{
    font-size: 4vw;
    font-family: 'Cabin', sans-serif;
    color: #62929E;
    line-height: 60px;
}

.welcome-text p{
    line-height: 1.6;
    font-family: 'Comfortaa', cursive;
    color: #546A7B;
}

.welcome-text a{
    color: #C6C5B9;
}
.welcome-text a:hover{
    color: #20FC8F
}

#socials{
    width: 100%;
    color: #546A7B;
    width: 250px;
    font-family: 'Cabin', sans-serif;
}