body{
    background: #F4FAFF;
    scroll-behavior: smooth;
}

#header-flexbox{
    display: flex;
    width: 100%;
    margin-top: 10%;
    justify-content: center;
}

#header-text h1{
    color: #254441;
    font-size: 64px;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

#header-text p{
    color: #254441;
    font-size: 24px;
    margin:auto;
    font-family: 'Comfortaa';
    text-align: center;
}

#header-text a{
    text-decoration: none;
    color: #B2B09B;
}

#header-text a:hover{
    color: #FF6F59;
}

/*Socials Section Begins*/

#socials-flexbox{
    display:flex;
    margin:10px;
    justify-content: center;
    color: #254441;
}

#socials-flexbox a{
    color: #254441;
}

.fa-twitter-square{
    margin-inline: 10px;
}

.fa-twitter-square:hover{
    color:#1DA1F2;
}

.fa-linkedin{
    margin-inline: 10px;
}

.fa-linkedin:hover{
    color: #2867B2;
}

.fa-github-square{
    margin-inline: 10px;
}


.fa-github-square:hover{
    color: #6e5494;
}

.fa-envelope-square{
    margin-inline: 10px;
}

.fa-envelope-square:hover{
    color:#FF6F59;
}


.arrow {
    text-align: center;
    text-decoration: none;
    margin: 8% 0;
    margin-bottom: 20%;
  }

.arrow a{
    color: #FF6F59;
    text-decoration: none;
}

  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }


#resume-container{
    display: flex;
    width:100%;
    justify-content: center;
}

.skills{
}